<footer>
    <footer class="bg-[#2E2E2E] mt-4 text-white footer-home lg:block md:block hidden" id="footer-blur" >
        <div class="flex justify-between border-b-2 h-auto">
          <div class="border-r-2 flex flex-col w-1/4 px-16 pt-8">
            <p>Sitemap</p>
            <ul class="text-[#b8b8b8] my-4">
              <li><a href="aboutUs.html">About</a></li>
              <li><a href="prePlanning.html">Services</a></li>
              <li><a href="/contact">Pricing</a></li>
              <li><a href="/contact">Industry</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
      
          <div class="border-r-2 flex flex-col w-1/4 px-16 pt-8">
            <p>Support</p>
            <ul class="text-[#b8b8b8] my-4">
              <li><a  href="#"id="openfaqpopup">Careers</a></li>
              <li><a href="Disclaimer.html" id="opendispopup">Disclaimer</a></li>
              <li><a  href="FAQ's.html"id="openfaqpopup">FAQ's</a></li>
              <li ><a href="privacyPolicy.html" id="openprivacypopup">Privacy Policy</a></li>
              <li><a  href="T&C.html" id="opentermspopup">Terms & Conditions</a></li>
            </ul>
          </div>
      
          <div class="border-r-2 flex flex-col w-1/4 px-16 pt-8">
            <p>Customer Care</p>
            <ul class="text-[#b8b8b8] my-4 text-sm">
              <li><a >Timings: 10AM-6PM (Mon-Sat)</a></li>
              <li><a>Call: <span> <a href="tel:+919538531818">+91 6271725332</a></span></a></li>
              <li>
                <a>Email:<span><a href="mailto:info@pickntrack.com">care@mbp.com</a></span> </a>
              </li>
            </ul>
          </div>
      
          <div class="flex flex-col w-1/4 px-16 pt-8">
            <div class=" space-y-5">
              <p>Subscribe</p>
              <p class="text-[#b8b8b8] text-sm">
                Want to receive amazing updates an ideas and business plans?
              </p>
              <form 
              action="/footermail"
                class="flex justify-between items-center bg-white rounded-full my-10 px-5"
                method="post"
              >
                <img src="images/email-footer.png" alt="email logo" class="h-5" />
                <input
                  type="email"
                  placeholder="Enter Your Email"
                  class="bg-transparent w-[100%]  focus:outline-none text-black px-2"
                  name="email"
                  required
                />
      
                <p  style="font-weight: bolder; color: black; font-size: x-large;" class="mb-[2px]"><button type="submit">&rarr;</button></p>
              </form>
            </div>
         
          </div>
        </div>
      
        <div class="p-5 flex  items-center">
          <ul class="flex gap-2 floats-left pl-12">
            <li>
              <a 
                ><img src="images/twitter.svg" alt="twitter logo" class="w-6"
              /></a>
            </li>
            <li>
              <a 
                ><img src="images/fb.svg" alt="facebook logo" class="w-6"
              /></a>
            </li>
            <li>
              <a 
                ><img src="images/linkedin.svg" alt="linkedin logo" class="w-6"
              /></a>
            </li>
            <li>
              <a 
                ><img src="images/pinterest.svg" alt="pinterest logo" class="w-6"
              /></a>
            </li>
            <li>
              <a 
                ><img src="images/yt.svg" alt="youtube logo" class="w-6"
              /></a>
            </li>
          </ul>
      
          <p class="text-xs text-center mx-auto">Copyright &copy; 2020 All rights reserved.</p>
          <div class="flex ">
          <img src="images/F_PayPal.svg" alt="payPAL logo" class="w-24 " />
          <img src="images/F_MasterCard.svg" alt="MasterCard logo" class="w-16 ml-2" />
          <img src="images/F_VISA.svg" alt="VIsa logo" class="ml-2" />
          <img src="images/F_DiscoverNW.svg" alt="DNW logo" class="w-24 ml-2" />
          <img src="images/F_AmericanExp.svg" alt="American logo" class="w-12ml-2" />
        </div>
        </div>
      </footer>
      
      
      <!--Footer ends-->
      
      <!-- <footer class="footer-1 bg-black py-8 sm:py-12 mob-footer flex lg:hidden" id="mob-footer-blur"> -->
      <footer class="footer-1 bg-[#2E2E2E] py-8 mt-4 sm:py-12 flex lg:hidden md:hidden block" id="mob-footer-blur">
        <div class="container mx-auto px-4">
          <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
              <h5 class="text-2xl font-bold mb-6 text-white">Sitemap</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">
                  <a href="/" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white">About</a>
                </li>
                <li class="mb-2">
                    <a href="prePlanning.html" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white">Services</a>
                  </li>
                  <li class="mb-2">
                    <a href="/contact" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white">Pricing</a>
                  </li>
                <li class="mb-2">
                  <a href="/about" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white"> Industry</a>
                </li>
                <li class="mb-2">
                    <a href="/contact" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white">Blog</a>
                  </li>
                  <li class="mb-2">
                    <a href="/contact" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white">Contact Us</a>
                  </li>
               
              </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 sm:mt-0">
              <h5 class="text-2xl font-bold mb-6  text-white">Support</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">
                    <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white" id="openmobfaqpopup">Careers</a>
                  </li>
                <li class="mb-2">
                  <a href="Disclaimer.html" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white" id="openmobdispopup">Disclaimer</a>
                </li>
                
                <li class="mb-2">
                  <a href="FAQ's.html" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white" id="openmobfaqpopup">FAQ's</a>
                </li>
                <li class="mb-2">
                  <a href="privacyPolicy.html" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white" id="openmobprivacypopup">Privacy Policy</a>
                </li>
                <li class="mb-2">
                  <a href="T&C.html" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800  text-white" id="openmobtermspopup">Terms & Conditions</a>
                </li>
              </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
              <h5 class="text-2xl font-bold mb-6  text-white">Customer Care</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">
                  <a  class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800 text-white">Timings: 10AM-6PM (Mon-Sat)</a>
                </li>
                <li class="mb-2">
                  <a  href="tel:9538531818" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800 text-white">Call:+91 627125332</a>
                </li>
                <li class="mb-2">
                  <a href="mailto:pickntrack@gmail.com" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800 text-white">Email:care@mbp.com</a>
                </li>
              
              </ul>
            </div>
            <div class="px-4 sm:w-1/2  md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
              <h5 class="text-2xl font-bold mb-6 text-white">Subscribe</h5>
              <ul class="list-none footer-links">
                <li class="mb-2">
                  <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800 text-white">Want to receive amazing updates <br>on ideas and business plans?</a>
                </li>
                
                <form class="flex h-12 w-full justify-between items-center bg-slate-200 rounded-full  my-10" method="post" action="/footer">
                <img src="images/email-logo.png" alt="email logo" class="h-5 ml-[10px] " />
                <input type="email" placeholder="Enter your email " name="email" class="bg-transparent w-[100%] mr-[12px] focus:outline-none mx-5 text-sm" required />
                <p class="text-black text-xl mr-5"><button type="submit">&rarr;</button></p>
                </form>
      
      
                   
              </ul>
            </div>
          
          </div>
      
          <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 pt-6 sm:mt-12 sm:pt-12 border-t object-center">
            <div class="sm:w-full px-4 md:w-1/6">
              <strong class="justify-center">
                <ul class="flex gap-2 ">
                  <li>
                    <a 
                      ><img src="images/twitter.png" alt="twitter logo" class="w-6"
                    /></a>
                  </li>
                  <li>
                    <a 
                      ><img src="images/fb.png" alt="facebook logo" class="w-3"
                    /></a>
                  </li>
                  <li>
                    <a 
                      ><img src="images/linkedln.png" alt="linkedin logo" class="w-6"
                    /></a>
                  </li>
                  <li>
                    <a 
                      ><img src="images/pinterest.png" alt="pinterest logo" class="w-6"
                    /></a>
                  </li>
                  <li>
                    <a
                      ><img src="images/youtube.png" alt="youtube logo" class="w-6"
                    /></a>
                  </li>
                </ul>
              </strong>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 mt-4 md:mt-0">
              <h6 class="font-bold mb-2 text-center text-white"><br>  Copyright © 2020 All rights reserved.</h6>
              <address class="not-italic mb-4 text-sm">
               .<br>
               <div class="flex float-right mt-4">
              <img src="images/F_PayPal.svg"  alt="" class="mx-2">
              <img src="images/F_MasterCard.svg"  alt="" class="ml-2">
              <img src="images/F_VISA.svg"  alt="" class="ml-2">
              <img src="images/F_DiscoverNW.svg"  alt="" class="ml-2">
              <img src="images/F_AmericanExp.svg"  alt="" class="ml-2">
            </div>
              </address>
            </div>
           
            
          </div>
        </div>
      </footer>
</footer>



</body>
</html>