<%-include('partials/header')%>
<link rel="stylesheet" href="../assets/about.css">

<body>
     <!-- HERO MAIN SECTION  -->
     <div class=" items-center md:pl-5 h-[15rem]   md:h-[20rem] lg:h-[20rem] w-full main">
        
       
           <p class="font-extrabold text-6xl lg:text-8xl text-[#2E2E2E] text-center pt-24 lg:pt-32"> About Us </p>
       
      
        
      </div>
       <!--MAIN SECTION END-->

<!---SECOND SECTION START--->
       <div class="md:flex flex-row lg:justify-between  md:pl-5">
     <!--left section-->
     <div class="w-full">
        <p class=" md:text-lg md:w-2/3 lg:w-[90%] lg:text-lg mt-16 mx-4 lg:ml-12  text-justify">
            A professional business planning company, started with aim to make more realistic business plans and project reports and to make sure these reports & plans has more value than just a process document.
            Meticulous Business Plans is the flagship product from the basket of meticulous and it is considered to be most innovative in the market. It comprises researching business ideas, feasibility study, business modelling, project profiling, and business planning. The plans and reports are completely customized, comprehensive, innovative and workable.
            <br><br>
            MBP is now deeply focused to male reports & plans on innovative and sustainable business ideas.
            <br><br>
            We are a team of young people who are highly qualified with rich experience. We are passionate, enthusiastic and motivated about what we do for our esteemed clients. We always believe in innovation, productivity and success of our clients and that’s why you shouldn’t have questions on our feasibility towards working with you. We are always ready to plan your business.
            We team meticulous take pride in calling us determinant because we have worked and provided best possible quality of services to our client with utmost dedication and determination. And we promise to do so for our each esteemed client, so you can expect our work with full of passion.
            Last but not the least we have experience of crafting 2500+ plans till date.
        </p>

        
    </div>

  <!--right section-->

  

        <div class="w-full mt-8 md:text-left lg:max-w-lg  lg:mx-12 lg:mt-0 md:mt-0 sm:mt-0">
          <div class="h-auto  lg:mx-12  pt-4 mx-4  px-4">
           
            <form class="flex h-12 w-full justify-between items-center bg-slate-200 rounded-full  my-10"   method=""   action="">
                <img src="images/P_searchGray.svg" alt="search img" class="h-5 ml-[10px] " />
                <input type="text" placeholder="Search Products " name="" class="bg-transparent w-[100%] mr-[12px] focus:outline-none mx-5 text-sm" required />
                <p class="text-black text-xl mr-5"><button type="submit">&rarr;</button></p>
             </form>
    <!--ACCORDION-->         
             <div class="h-auto w-full rounded-lg border border-[#3982AA] bg-[#E3F5FF] blueshadow">

               <p class="text-2xl font-bold mt-4 pl-4">Services</p>

                <div class="container">
                  <div class="accordion">
                    <div class="accordion__header is-activ mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Pre Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body is-activ text-[#2E2E2E] mx-4">
                      <a href="PreMROAR.html"><p class="hover:text-sky-500">Market Research & Opportunity Analysis Report (MROAR)</p> </a>
                      <a href="PreProjectProfile.html"><p class="mt-2 hover:text-sky-500">Project Profile (PP)</p></a> 
                      <a href="PreBFSR.html"><p class="mt-2 hover:text-sky-500">Business Feasibility Study Report (BFSR)</p> </a> 
                    </div>
                    <div class="accordion__header mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body mx-4">
                      <a href="planBusinessModel.html"><p class="hover:text-sky-500">Business Modelling (BM) </p> </a>
                      <a href="planBusinessPlan.html"><p class="mt-2 hover:text-sky-500">Business Plan (BP)</p></a> 
                      <a href="planDPR.html"><p class="mt-2 hover:text-sky-500">Detailed Project Report</p> </a> 
                      <a href="planVisa.html"><p class="mt-2 hover:text-sky-500">Visa Business Plan </p> </a>
                      <a href="planFranchise.html"><p class="mt-2 hover:text-sky-500">Franchise Business Plan</p></a> 
                      <a href="planNPB.html"><p class="mt-2 hover:text-sky-500">Non-Profit Business Plan</p> </a>  
                    </div>
                    <div class="accordion__header mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Post Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body mx-4">
                      <a href="postSales.html"><p class=" hover:text-sky-500">Sales & Marketing</p> </a> 
                      <a href="postDept.html"><p class="mt-2 hover:text-sky-500">Departmental Business Plan </p> </a>
                      <a href="postInvestment.html"><p class="mt-2 hover:text-sky-500">Investment Pitch</p></a> 
                   
                    </div>
                   
                </div> 
                  </div>  <!--accodion div close-->


                 <p class="text-lg mt-4 font-bold mt-4 pl-4 text-[#2E2E2E]">Need a custom report? Tell us more</p>

             
            <a href="contactUs.html">    <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Contact Us</button> </a> 

                            

             </div>

             <p class="text-2xl mt-8 font-bold mt-4">Latest Blogs</p>

             <div class="h-32 w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
               <p class="text-2xl font-bold mt-2 pl-4">Test</p>
               <div class="flex text-center mt-12 pl-4">
                <img src="images/clock.svg" alt="">
                <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
               </div>
              
             </div>

             <div class="h-auto  w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-4 pl-4">INDONESIA – Business Opportunities and Market Analysis</p>
                <div class="flex text-center  mb-2 mt-8 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>

              <div class="h-auto w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-2 pl-4">NEW JERSEY Business Investment Opportunities</p>
                <div class="flex text-center  mb-2 mt-12 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>
              
              <div class="h-auto  w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-4 pl-4">NEW YORK Startup Business Investment Opportunities | Research based Business Ideas</p>
                <div class="flex text-center  mb-2 mt-12 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>
             
          </div>
        </div>
 </div>
      <!--second section end-->

   
   
</body>
<script>

    // Accordion 
    
 
    $('.accordion__header').click(function(e) {
      e.preventDefault();
      var currentIsActive = $(this).hasClass('is-active');
      $(this).parent('.accordion').find('> *').removeClass('is-active');
      if(currentIsActive != 1) {
        $(this).addClass('is-active');
        $(this).next('.accordion__body').addClass('is-active');
      }
    });
</script>
<%-include('partials/footer')%>