<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
    .blueshadow{
      box-shadow: -5px 5px 0px 3px #3982AA;
  }
</style>

<body>
<!--Written Section-->
      <div class="mx-12 mt-12 text-justify">Our every report is customised according your requirement. Once you book the order, our representative would share email to collect your requirement. The delivery of the report or plan will be done through email in .pdf / .ppt / .xls format in 10 to 12 working days. Please read more at T & C.</div>

<!----add cart---->

<!---SECOND SECTION START--->
<div class="md:flex flex-row lg:justify-between mt-16 md:pl-5">
<!--left section-->
<div class="w-auto lg:w-full mx-12">
   
   <div class="h-[12rem] lg:h-[10rem] w-full bg-white shadow-lg flex">
    <div class="h-full w-48 rounded-lg bg-slate-300"></div>
     <div class="mx-2"> 
       <p class="pr-12 md:text-lg lg:text-lg font-bold text-sm">COCONUT PROCESSING UNIT - Business Feasibility Study Report (BFSR)</p>
        <div class="flex justify-normal mt-4">
         <a href=""><img src="images/CartAdd.svg" alt="" class="mx-2"></a> 
          <p class="font-bold">1</p>
         <a href=""><img src="images/CartSubtract.svg" alt="" class="mx-2"></a> 
         <p class="font-bold float-right lg:mx-auto">₹19,999</p>
       </div>
       <p class="mt-4 md:text-lg lg:text-lg text-sm">Remove</p>
     </div>
   </div>
   
   <div class="h-[12rem] lg:h-[10rem] w-full bg-white shadow-lg mt-4 flex">
    <div class="h-full w-48 rounded-lg bg-slate-300"></div>
     <div class="mx-2"> 
       <p class="pr-12 md:text-lg lg:text-lg font-bold text-sm">COCONUT PROCESSING UNIT - Business Feasibility Study Report (BFSR)</p>
        <div class="flex justify-normal mt-4">
         <a href=""><img src="images/CartAdd.svg" alt="" class="mx-2"></a> 
          <p class="font-bold">1</p>
         <a href=""><img src="images/CartSubtract.svg" alt="" class="mx-2"></a> 
         <p class="font-bold float-right lg:mx-auto">₹9,998</p>
       </div>
       <p class="mt-4 md:text-lg lg:text-lg text-sm">Remove</p>
     </div>
   </div>
   
<div class="h-[12rem] lg:h-[10rem] w-full bg-white shadow-lg mt-4 flex">
    <div class="h-full w-48 rounded-lg bg-slate-300"></div>
     <div class="mx-2"> 
       <p class="pr-12 md:text-lg lg:text-lg font-bold text-sm">COCONUT PROCESSING UNIT - Business Feasibility Study Report (BFSR)</p>
        <div class="flex justify-normal mt-4">
         <a href=""><img src="images/CartAdd.svg" alt="" class="mx-2"></a> 
          <p class="font-bold">1</p>
         <a href=""><img src="images/CartSubtract.svg" alt="" class="mx-2"></a> 
         <p class="font-bold float-right lg:mx-auto">₹59,998</p>
       </div>
       <p class="mt-4 md:text-lg lg:text-lg text-sm">Remove</p>
     </div>
   </div>

 </div>


 

 <!--right section-->
 
   <div class="w-full mt-8 md:text-left lg:max-w-lg  lg:mx-12 lg:mt-0 md:mt-0 sm:mt-0">
     <div class="h-auto  lg:mx-12  pt-4 mx-4  px-4">
     
        <div class="h-auto w-full rounded-lg border border-[#3982AA] bg-[#E3F5FF] blueshadow">
          <div class="flex mx-auto justify-between ">
          <p class="text-lg font-bold mt-4 pl-4">Subtotal</p>
          <p class="text-lg font-bold mt-4 pr-4">₹89,996.00</p>
        </div>
        <div class="flex mx-auto justify-between ">
          <p class="text-lg font-bold mt-4 pl-4">9% CGST/9% SGST</p>
          <p class="text-lg font-bold mt-4 pr-4">₹16,199.28</p>
        </div>
        <div class="flex mx-auto justify-between ">
          <p class="text-lg font-bold mt-4 pl-4">Total</p>
          <p class="text-lg font-bold mt-4 pr-4">₹106,195.28</p>
        </div>
         <div class="flex justify-center">
            <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-16 mx-12 py-2">Check Out</button>
          </div>
         <div class="flex justify-center">
            <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-2 mb-4 px-8 mx-4 py-2">Continue Shopping</button>         
          </div>
        </div>

      </div>
    </div>  
    
</div>
 <!--second section end-->

      
</body>

<%-include('partials/footer')%>