<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
   
</style>

<body>
      <div class="mx-12 mt-12 text-justify">Our every report is customised according your requirement. Once you book the order, our representative would share email to collect your requirement. The delivery of the report or plan will be done through email in .pdf / .ppt / .xls format in 10 to 12 working days. Please read more at T & C.</div>

      <div class="text-center text-[#C6C6C6] text-2xl mt-12 font-bold">Your Cart is Empty!!</div>
      <div class="justify-center flex mx-auto">
     <button class="bg-[#2E2E2E] text-white items-center  font-bold text-xl mt-8  py-2 px-10 rounded-full  text-center" type="submit" >
         Return to shop
    </button>
</div>
</body>
<%-include('partials/footer')%>