<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
   
/*main section   1*/

.main{
background: #EFF7F9;
 }


</style>
<body>



<!-------------------------------MAIN  SECTION START---------------------------->
<div class="md:flex flex-row h-full lg:h-[34rem] justify-between items-center md:pl-5 main">

<div class="text-center space-y-5 p-2 md:text-left lg:max-w-lg lg:ml-16 ">
<p class="font-extrabold text-[#2E2E2E] text-3xl md:font-extrabold md:text-4xl lg:text-6xl lg:mt-0 md:mt-0 mt-12 ">
  Build a Start-up with us.
</p>
<p class="font-bold md:text-lg lg:text-xl text-[#2E2E2E]">
  We make plans that are completely customised, comprehensive, innovative and workable for you start-up.
</p>


<button class="bg-slate-800 rounded-full text-2xl font-bold text-white my-8 py-4 px-12">Discover</button>
</div>
<div class="lg:w-full">
<img
src="public/images/homeMain.svg"
alt="main section image"
class="h-full w-full mx-auto md:mx-0 md:h-96 md:w-96 lg:h-[50rem] lg:w-full"
/>
</div>
</div>

<!-----------------------      SERVICE    ----------->
<div class="text-4xl lg:text-6xl md:text-5xl text-center font-bold mt-12">Service</div> 
<div class="my-24 mt-12 mx-12">

<div class="grid sm:grid-cols-2 lg:grid-cols-4">
  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/HomePrecard.svg" alt="service card1">
    </div>

  </div>

  <div class="flex flex-col items-center justify-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/Homeplancard.svg" alt="">
    </div>

  </div>

  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/Homepostcard.svg" alt="">
    </div>

  </div>

  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/HomeInvestcard.svg" alt="">
    </div>

  </div>
</div>
</div>


<!-----------------------SECTION  3   INDUSTRY ------------------------->

<div class="text-4xl lg:text-6xl md:text-5xl text-center font-bold">Industry</div> 

<div class="container h-full w-[80%] rounded-lg bg-[#EDECFF] mx-auto mt-8">
 <div class=" w-full px-2 mx-auto items-center flex flex-col md:flex-row justify-contents-center ">

  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF]  items-center hover:text-white hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2">
    <img src="images/homeIndCAR.svg" alt="" class="mx-auto pt-12">
    <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl font-extrabold ">Automotive <br> & Transport</p>
  </div>

  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center  hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2">
    <img src="images/finance.svg" alt="" class="mx-auto pt-12"> 
    <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Finance <br>Technology</p>
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2"> 
     <img src="images/healthcare.svg" alt="" class="mx-auto pt-12"> 
     <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Health <br>Technology</p>
    </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] border-b-2">
    <img src="images/food.svg" alt="" class="mx-auto pt-12"> 
    <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Food <br>Technology</p>
  </div>
 </div>

 <div class=" w-full px-2 mx-auto items-center  flex flex-col md:flex-row justify-items-center ">

  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2">
      <img src="images/sprout.svg" alt="" class="mx-auto pt-12">
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Agriculture<br>  Technology</p> 
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2">
      <img src="images/renewable-energy.svg" alt="" class="mx-auto pt-12"> 
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Energy & Clean <br> Technology</p>
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2">
      <img src="images/house.svg" alt="" class="mx-auto pt-12">
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl  font-extrabold">Real Estate</p> 
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] items-center hover:bg-[#8580C7] border-[#8580C7] border-b-2">
    <img src="images/consumer.svg" alt="" class="mx-auto pt-12"> 
    <p class="text-center hover:text-white text-[#2E2E2E] text-3xl  lg:text-2xl font-extrabold">Consumer Goods  <br> & Services</p>
  </div>
 </div>

 <div class=" w-full px-2 mx-auto items-center  flex flex-col md:flex-row justify-items-center ">
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] hover:bg-[#8580C7] items-center  border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2 lg:border-b-0 md:border-b-0">
      <img src="images/nano.svg" alt="" class="mx-auto pt-12"> 
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl   font-extrabold">Education <br> Technology</p>
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] hover:bg-[#8580C7] items-center  border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2 lg:border-b-0 md:border-b-0">
      <img src="images/movies.svg" alt="" class="mx-auto pt-12">
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl lg:text-2xl   font-extrabold">Entertainment</p> 
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] hover:bg-[#8580C7] items-center  border-[#8580C7] md:border-r-2 lg:border-r-2 border-b-2 lg:border-b-0 md:border-b-0">
      <img src="images/hotel.svg" alt="" class="mx-auto pt-12">
      <p class="text-center hover:text-white text-[#2E2E2E] text-3xl  lg:text-2xl  font-extrabold">Hospitality</p> 
  </div>
  <div class="h-52 w-full md:w-72 lg:w-72 bg-[#EDECFF] hover:bg-[#8580C7] items-center  border-[#8580C7]  ">
    <img src="images/consumption.svg" alt="" class="mx-auto pt-12"> 
    <p class="text-center hover:text-white text-[#2E2E2E] text-3xl  lg:text-2xl  font-extrabold">Fashion & <br>Retail</p>
  </div>
 </div>

</div> 

<!------------------------PRODUCTS ---------------------->

<div class="text-center text-4xl lg:text-6xl md:text-5xl font-bold mt-24">Produts</div>

<div class="md:flex flex-row h-full justify-between items-center mt-12 md:pl-5 main">
<!--LEFT PRODUCTS--> 
 <div class="text-center space-y-2 p-2 md:text-left lg:w-1/2 lg:mx-12 mt-8 mb-8">

     <img src="images/P_Business.svg" alt="mob-img" class="lg:hidden md:hidden block  mx-auto ">
   <div class="flex">
     <img src="images/P_Business.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
      <div>
        <h1 class="text-xl font-extrabold ">Market Research and Opportunity Analysis Report</h1>  
         <p class="text-sm mt-2 text-[#2E2E2E]">Market Research Opportunity Analysis Report (MROAR) can help & guide you in the process of mining the most feasible, sustainable...</p> 
      </div> 
   </div>

   <!--2-->
   <div>
   <img src="images/P_BusinessFea.svg" alt="mob-img" class=" lg:hidden md:hidden block mx-auto mt-12">
 </div>
   <div class="flex">
     <img src="images/P_BusinessFea.svg" alt="" class="mx-4 lg:block md:block hidden md:mt-8 lg:mt-8">
      <div class=" md:mt-8 lg:mt-8">
        <h1 class="text-xl font-extrabold">Business Feasibility Study Report</h1>  
         <p class="text-sm mt-2">A feasibility study is defined as an evaluation or analysis of the potential impact of a proposed project or business...</p> 
      </div> 
   </div>
     
   <!--3-->
   <div>
   <img src="images/P_BusinessPlan.svg" alt="" class=" lg:hidden md:hidden block mx-auto mt-12">
 </div>
   <div class="flex">
     <img src="images/P_BusinessPlan.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
      <div class="md:mt-8 lg:mt-8">
        <h1 class="text-xl font-extrabold">Business Plan</h1>  
         <p class="text-sm mt-2">A business plan is a written description of your business's future, a document that tells what you plan to do...</p> 
      </div> 
   </div>

   <!--4-->
 <div>
   <img src="images/P_Investement.svg" alt="" class=" lg:hidden md:hidden block mx-auto mt-12">
 </div>
   <div class="flex">
     <img src="images/P_Investement.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
      <div class="md:mt-8 lg:mt-8">
        <h1 class="text-xl font-extrabold">Investment Pitch</h1>  
         <p class="text-sm mt-2">Entrepreneurs these days think that they have a great idea that can take the world by storm and still they...</p> 
      </div> 
   </div>

 </div>
<!--RIGHT PRODUCTS-->
 <div class="text-center space-y-2 md:text-left lg:w-1/2 lg:mx-12 mt-8 mb-8 ">
     <!--1-->
     <img src="images/P_Project.svg" alt="" class=" lg:hidden md:hidden block mx-auto ">
   <div class="flex">
     <img src="images/P_Project.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
      <div>
        <h1 class="text-xl font-extrabold">Project Profile</h1>  
         <p class="text-sm mt-2">Is having a great product or a service is the only requirement to run a successful business? Definitely not. It...</p> 
      </div> 
   </div>

    <!--2-->
    <div>
     <img src="images/P_BusinessModel.svg" alt="" class=" lg:hidden md:hidden block mx-auto mt-12">
   </div>
    <div class="flex">
      <img src="images/P_BusinessModel.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
       <div class="md:mt-8 lg:mt-8">
         <h1 class="text-xl font-extrabold">Business Modelling</h1>  
          <p class="text-sm mt-2">Business Modelling is one of most crucial & differentiating step in making your business successful. Creating a great business model...</p> 
       </div> 
    </div>

    <!--3-->
    <div>
     <img src="images/P_DPR.svg" alt="" class=" lg:hidden md:hidden block mx-auto mt-12">
   </div>
    <div class="flex">
      <img src="images/P_DPR.svg" alt="" class="mx-4 lg:block md:block hidden mt-8 ">
       <div class="md:mt-8 lg:mt-8">
         <h1 class="text-xl font-extrabold">Detailed Project Report</h1>  
          <p class="text-sm mt-2">A Project Report delineates what the business is all about or what it intends to be over the time. Comprehensive....</p> 
       </div> 
    </div>
    
      <!--4-->
      <div>
         <img src="images/P_Sales.svg" alt="" class=" lg:hidden md:hidden block mx-auto mt-12">
       </div>
      <div class="flex">
        <img src="images/P_Sales.svg" alt="" class="mx-4 lg:block md:block hidden mt-8">
         <div class="md:mt-8 lg:mt-8">
           <h1 class="text-xl font-extrabold">Sales & Marketing</h1>  
            <p class="text-sm mt-2">Is having a great product or a service is the only requirement to run a successful business? Definitely not. It...</p> 
         </div> 
      </div>

   </div>
</div>  
<!-----------------------   -PRODUCTS  END --------------->



<!--SECTION 3  LATEST NEWS-->


<div class="text-4xl lg:text-6xl md:text-5xl text-center mt-12 font-bold">Latest News</div> 
<div class="my-24 mt-8">
<div class="grid sm:grid-cols-2 lg:grid-cols-4">
  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/homeLatestInvestmentcard.svg" alt="">
    </div>

  </div>

  <div class="flex flex-col items-center justify-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/homeLatestNewcard.svg" alt="">
    </div>

  </div>

  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/homeLatestNewJerseycard.svg" alt="">
    </div>

  </div>

  <div class="flex flex-col items-center gap-3 m-3">
    <div class="flex">
      <img src="public/images/homeLatestBusinescard.svg" alt="">
    </div>

  </div>
</div>
</div>


</body>
<%-include('partials/footer')%>

<script  src="../assets/home.js"></script>