<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
    .main{
      background-color:#EFF7F9;
    }

</style>
<body>
     <!-- MAIN SECTION  -->
     <div class="md:flex flex-row justify-between items-center md:pl-5 h-full w-full main">
        
      <div class="text-center space-y-5 p-2 md:text-left lg:w-2/3 lg:ml-12 ">
        <p class="font-bold text-[#2E2E2E] text-3xl md:font-extrabold md:text-4xl lg:text-6xl">
            Consumer Goods & Services
        </p>
        
        
      </div>
      <div>
          <img src="images/indCGS.svg" alt="PrePlanning hero section image"
        class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-96 lg:pr-8 lg:h-[30rem] lg:w-[50rem]"
      />
      </div>
    </div>

       <!--MAIN SECTION END-->

<!---SECOND SECTION START--->
<div class="flex mx-4 lg:mx-24 mt-8 justify-between">
    <p class="text-sm">Showing 1-6 results of 11</p>
    <div class="text-sm">
        <label for="">Sort by latest</label>
        <select
        class="flex-1  bg-transparent focus:outline-none cursor-pointer"
        name="countrycode"
      >
        <option value="+91"></option>
        <option value="+31">abd</option>
        <option value="+02">efg</option>
        <option value="+15">hij5</option>
      </select>
    </div>
</div>  

  <!--cards-->

  <div class=" my-4 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap mx-4 lg:mx-4 justify-between">

        <!-- Card(1) -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">

            <!--Image Artilce-->
            <div class="overflow-hidden rounded-lg  shadow-lg">

                <div class="bg-slate-300 h-[20rem] w-full " >
                </div>

                <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
                   
                       <p class="text-center px-4 font-semibold">ONLINE MORNING NEEDS  </p>
                       <p class="text-center px-4 font-semibold">DELIVERY PLATFORM</p>
                    <p class="text-[#2D812F] text-md font-semibold">
                        ₹4,999.00 – ₹71,999.00
                    </p>
                    <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
                </div>                         
                        
            </div>
            <!-- END Article -->
        </div>
        <!-- END Card(1) -->

       <!-- Card(2) -->
       <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">

        <!--Image Artilce-->
        <div class="overflow-hidden rounded-lg  shadow-lg">

            <div class="bg-slate-300 h-[20rem] w-full" >
            </div>

            <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
                   
                <p class="text-center px-4 font-semibold">STEM TOYS MANUFACTURING</p>
                <p class="text-center px-4 font-semibold">UNIT</p>
       
             <p class="text-[#2D812F] text-md font-semibold">
                 ₹4,999.00 – ₹71,999.00
             </p>
             <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
         </div>   
        </div>
        <!-- END Article -->
    </div>
    <!-- END Card(2) -->

       <!-- Card(3) -->
       <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">
        <!--Image Artilce-->
        <div class="overflow-hidden rounded-lg  shadow-lg">

            <div class="bg-slate-300 h-[20rem] w-full" >
            </div>

            <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
                <p class="text-center px-4 font-semibold">MYSTERY SHOPPING</p>
               <p class="text-center px-4 font-semibold"> (SHADOW/SECRET SHOPPING)  </p>
       
             <p class="text-[#2D812F] text-md font-semibold">
                 ₹4,999.00 – ₹71,999.00
             </p>
             <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
         </div>   
        </div>
        <!-- END Article -->
    </div>
    <!-- END Card(3) -->

  <!-- Card(4) -->
  <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">

    <!--Image Artilce-->
    <div class="overflow-hidden rounded-lg  shadow-lg">

        <div class="bg-slate-300 h-[20rem] w-full " >
        </div>

        <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
           
            <p class="text-center px-4 font-semibold">ADULT DIAPER</p>
               <p class="text-center px-4 font-semibold">MANUFACTURING UNIT </p>   
            <p class="text-[#2D812F] text-md font-semibold">
                ₹4,999.00 – ₹71,999.00
            </p>
            <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
        </div>                         
                
    </div>
    <!-- END Article -->
</div>
<!-- END Card(4) -->

<!-- Card(5) -->
<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">

<!--Image Artilce-->
<div class="overflow-hidden rounded-lg  shadow-lg">

    <div class="bg-slate-300 h-[20rem] w-full" >
    </div>

    <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
           
        <p class="text-center  font-semibold">BIODEGRADABLE SANITARY NAPKINS </p>
        <p class="text-center px-4 font-semibold">MANUFACTURING UNIT</p>
     <p class="text-[#2D812F] text-md font-semibold">
         ₹4,999.00 – ₹71,999.00
     </p>
     <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
 </div>   
</div>
<!-- END Article -->
</div>
<!-- END Card(5) -->

<!-- Card(6) -->
<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-[30%]">
<!--Image Artilce-->
<div class="overflow-hidden rounded-lg  shadow-lg">

    <div class="bg-slate-300 h-[20rem] w-full" >
    </div>

    <div class=" items-center text-center pt-2  md:py-4  shadow-lg">
           
        <p class="text-center px-4 font-semibold">VENDING MACHINE</p>
        <p class="text-center px-4 font-semibold"> BUSINESS </p>
     <p class="text-[#2D812F] text-md font-semibold">
         ₹4,999.00 – ₹71,999.00
     </p>
     <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Select Option</button>
 </div>   
</div>
<!-- END Article -->
</div>
<!-- END Card(6) -->
    
    </div>
  </div>


<!---Pagination-->
<div class="" aria-label="Page navigation example">
    <ul class="list-style-none flex items-center mx-auto justify-center">
      <li>
        <a
          class="relative block rounded-xl bg-transparent px-1 py-1 mx-2 text-lg transition-all duration-300 hover:bg-black hover:text-white font-extrabold "
          href="#"
          aria-label="Previous">
          <span aria-hidden="true">&#8592;</span>
        </a>
      </li>
      <li>
        <a
          class="relative block rounded-xl bg-transparent px-1 py-1 mx-2 transition-all duration-300 hover:bg-black hover:text-white"
          href="#"
          >1</a
        >
      </li>
      <li aria-current="page">
        <a
        class="relative block rounded-xl bg-transparent px-1 py-1 mx-2 transition-all duration-300 hover:bg-black hover:text-white"
        href="#"
        >2</a
      >
      </li>
     
      <li aria-current="page">
        <a
        class="relative block rounded-xl bg-transparent px-1 py-1 mx-2 transition-all duration-300 hover:bg-black hover:text-white"
        href="#"
        >3</a
      >
      </li>
      <li>
        <a
          class="relative block rounded-xl bg-transparent px-1 py-1 mx-2 text-lg transition-all duration-300 hover:bg-black hover:text-white font-extrabold"
          href="#"
          aria-label="Next"
          ><span aria-hidden="true">&#8594;</span>
        </a> 
      </li>
    </ul>
  </div>


  
</body>
<%-include('partials/footer')%>