<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
    .main{
      background-color:#EFF7F9;
    }
    .blueshadow{
        box-shadow: -5px 5px 0px 3px #3982AA;
    }
    .grayshadow{
        box-shadow: -5px 5px 0px 3px #2E2E2E;
    }
    
.accordion__header {
	padding: 1em;

	margin-top: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.accordion__header > * {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}
.accordion__header.is-active {

	color: black;
}

.accordion__toggle {
	margin-left: 10px;
	height: 3px;
	background-color: #222;
	width: 13px;
	display: block;
	position: relative;
	flex-shrink: 1;
	border-radius: 2px;
}

.accordion__toggle::before {
	content: "";
	width: 3px;
	height: 13px;
	display: block;
	background-color: #222;
	position: absolute;
	top: -5px;
	left: 5px;
	border-radius: 2px;
}
.is-active{
    border: none;
}

.is-active .accordion__toggle {
	background-color: black;
}
.is-active .accordion__toggle::before {
	display: none;
}


.accordion__body {
	display: none;
	padding: 1em;
	border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
	border-top: 0;
}
.accordion__body.is-active {
	display: block;
}
</style>
<body>
     <!-- HERO MAIN SECTION  -->
     <div class="md:flex flex-row justify-between items-center md:pl-5 h-full w-full main">
        
        <div class="text-center space-y-5 p-2 md:text-left lg:w-2/3 lg:ml-12 ">
          <p class="font-bold text-[#2E2E2E] text-3xl md:font-extrabold md:text-4xl lg:text-6xl">
            Departmental Business Plan
          </p>
          
          
        </div>
        <div>
            <img src="images/PostDept.svg" alt="PrePlanning hero section image"
          class="h-full w-[90%] mx-auto md:mx-0 md:h-96 md:w-96 lg:pr-8 lg:h-[30rem] lg:w-[30rem]"
        />
        </div>
      </div>
       <!--MAIN SECTION END-->

<!---SECOND SECTION START--->
       <div class="md:flex flex-row lg:justify-between  md:pl-5">
     <!--left section-->
     <div class="w-full">
        <p class=" md:text-lg md:w-2/3 lg:w-[90%] lg:text-lg mt-16 mx-4 lg:ml-12  text-justify">

          A departmental business plan is a systematically positioned and strategically planned layout for each department in the organisation. It is planned in accordance with the business plan usually under the guidance of the entrepreneurs of the organisation so that it will meet organisations requirements and achieve its goals. Budgets and priorities of each department must fit in with those of the organisation. Therefore, writing a departmental business plan requires good understanding of the business and its potential market, supply chain and operations. It is necessary to prepare department plans to be more specific than the overall business plan and objectives you set are realistic and achievable for each department.The business plan must match with the mission and the priorities of the organisation and its customers. Using analytical methods is key to develop good organisational strategies. This document should list out all your department’s key attributes and include it to achieve it overall organisational strategic plan. It will help you identify and include all the new projects or products that will benefit the company to increase its revenue and decrease operational costs. Our departmental plans offer,
<br><br>
        1. Detailed responsibilities, goals and initiatives of the department <br>
        2. Analysis of the historical data of product, services, revenue management <br>
        3. Forecasts of demand, sales and finance <br>
        4. Align individual plans with the business strategies <br>
     <br><br>     
          Developing a departmental business plan typically requires qualitative and quantitative information about how the department can improve the profitability of the organisation. Managers of the department and higher management of the organisation should agree with the departmental plans as the success depends upon their feedback. It is important for each department to feel that they are at the helm in the plan.
        </p>

        <div class="w-full lg:mt-16 md:text-left  lg:mx-4  md:mt-4 sm:mt-0">
            <div class="h-auto space-y-5 lg:mx-12  bg-gray-100 pt-4 mx-4 rounded-lg shadow px-4">
              <form class="space-y-6 bg-gray-100"  method="post">
                <div class="text-xl font-semibold font-poppins font-bold text-gray-900 pt-3">
                  Departmental Business Plan
                </div>
                <div>
                  <label for="name" class="block mb-2 -mt-2 text-lg text-black bold"
                    >Name*</label
                  >
                  <input
                    type="name"
                    name="name"
                    class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                    required
                  />
                </div>
          
                <div>
                  <label for="email" class="block mb-2 text-lg text-black bold"
                    >Email*</label
                  >
                  <input
                    type="email"
                    name="email"
                    class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                    required
                  />
                </div>
          
                <div>
                  <label for="email" class="block mb-2 text-lg text-black bold"
                    >Phone Number*</label
                  >
          
                  <div class="flex gap-3">
                    <div
                      class="place bg-gray-300 text-black text-sm rounded-full block lg:w-[60px] p-1 flex"
                    >
                      <select
                        class="flex-1 mr-1 bg-transparent focus:outline-none"
                        name="countrycode"
                      >
                        <option value="+91">+91</option>
                        <option value="+31">+31</option>
                        <option value="+02">+02</option>
                        <option value="+15">+15</option>
                      </select>
                    </div>
          
                    <div class="col-span-10 w-full">
                      <input
                        type="tel"
                        name="phone"
                        class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div>
                    <label for="loctaion" class="block mb-2 text-lg text-black bold"
                      >Location*</label
                    >
                    <input
                      type="name"
                      name="from"
                      class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                      required
                      value=""
                    />
                  </div>
                  <div>
                    <label for="Comapny name" class="block mb-2 text-lg text-black bold"
                      >Comapny Name*</label
                    >
                    <input
                      type="name"
                      name="from"
                      class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                      required
                      value=""
                    />
                  </div>
                 
                <div>
                  <label for="loctaion" class="block mb-2 text-lg text-black bold"
                    >Skype ID/Whats App Number/IMO Number*</label
                  >
                  <input
                    type="tel"
                    name="address"
                    class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                    required
                  />
                </div>
                <div>
                    <label for="Product Services" class="block mb-2 text-lg text-black bold"
                      >Product Services*</label
                    >
                    <input
                      type="name"
                      name="from"
                      class="bg-gray-300 text-black text-sm rounded-full block w-full p-2.5"
                      required
                      value=""
                    />
                  </div>
                  <div>
                    <label for="Product Services" class="block mb-2 text-lg text-black bold"
                      >Brief Description About Your Company*</label
                    >
                    <textarea 
                      type="textarea"
                      name="from"
                      class="bg-gray-300 text-black text-sm rounded-lg block h-48 w-full p-2.5"
                      required
                      value="">
                    </textarea>
                    
                  </div>
                <div>
                  <label for="Report" class="block mb-2 text-lg text-black bold">Select Type of Report*</label>
                  <div class="gap-3">
                    <div
                      class="place bg-gray-300 text-black text-sm rounded-full block w-full p-2.5 flex"
                    >
                      <select
                        class="flex-1 mr-1 bg-transparent focus:outline-none "
                        name="countrycode">
                        <option value="PP">Project Profile (PP)</option>
                        <option value="MROAR">Market Research Opportunity Analysis Report</option>
                        <option value="BFSR">Business Feasibility Study Report (BFSR)</option>
                       
                      </select>
                    </div>
          
                    
                  </div>
                </div>
          
                <div>
                  <button
                    class="bg-[#2E2E2E] text-white font-bold text-xl mt-8  py-2 px-10 rounded-full"
                    type="submit" >
                    Submit
                  </button>
                </div>
                <br />
              </form>
            </div>
          </div>
 
    </div>

  <!--right section-->

  

        <div class="w-full mt-8 md:text-left lg:max-w-lg  lg:mx-12 lg:mt-0 md:mt-0 sm:mt-0">
          <div class="h-auto  lg:mx-12  pt-4 mx-4  px-4">
           
            <form class="flex h-12 w-full justify-between items-center bg-slate-200 rounded-full  my-10"   method=""   action="">
                <img src="images/P_searchGray.svg" alt="search img" class="h-5 ml-[10px] " />
                <input type="text" placeholder="Search Products " name="" class="bg-transparent w-[100%] mr-[12px] focus:outline-none mx-5 text-sm" required />
                <p class="text-black text-xl mr-5"><button type="submit">&rarr;</button></p>
             </form>
             
             <div class="h-auto w-full rounded-lg border border-[#3982AA] bg-[#E3F5FF] blueshadow">

               <p class="text-2xl font-bold mt-4 pl-4">Services</p>

                <div class="container">
                  <div class="accordion">
                    <div class="accordion__header   mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Pre Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body  text-[#2E2E2E] mx-4">
                      <a href="PreMROAR.html"><p class="hover:text-sky-500">Market Research & Opportunity Analysis Report (MROAR)</p> </a>
                      <a href="PreProjectProfile.html"><p class="mt-2 hover:text-sky-500">Project Profile (PP)</p></a> 
                      <a href="PreBFSR.html"><p class="mt-2 hover:text-sky-500">Business Feasibility Study Report (BFSR)</p> </a> 
                    </div>
                    <div class="accordion__header  mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body  mx-4">
                      <a href="planBusinessModel.html"><p class="hover:text-sky-500">Business Modelling (BM) </p> </a>
                      <a href="planBusinessPlan.html"><p class="mt-2 hover:text-sky-500">Business Plan (BP)</p></a> 
                      <a href="planDPR.html"><p class="mt-2 hover:text-sky-500">Detailed Project Report</p> </a> 
                      <a href="planVisa.html"><p class="mt-2 hover:text-sky-500">Visa Business Plan </p> </a>
                      <a href="planFranchise.html"><p class="mt-2 hover:text-sky-500">Franchise Business Plan</p></a> 
                      <a href="planNPB.html"><p class="mt-2 hover:text-sky-500">Non-Profit Business Plan</p> </a> 
                    </div>
                    <div class="accordion__header is-active  mx-4 border-2 border-black border-t-0 border-x-0">
                        <h2 class="text-md font-bold">Post Planning</h2>
                        <span class="accordion__toggle"></span>
                    </div>
                    <div class="accordion__body is-active mx-4">
                      <a href="postSales.html"><p class=" hover:text-sky-500">Sales & Marketing</p> </a> 
                      <a href="postDept.html"><p class="mt-2 hover:text-sky-500">Departmental Business Plan </p> </a>
                      <a href="postInvestment.html"><p class="mt-2 hover:text-sky-500">Investment Pitch</p></a> 
                   
                    </div>
                   
                </div> 
                  </div>  <!--accodion div close-->


                 <p class="text-lg mt-4 font-bold mt-4 pl-4 text-[#2E2E2E]">Need a custom report? Tell us more</p>

             
                 <a href="contactUs.html">  <button class="text-white text-lg font-semibold bg-[#2E2E2E] rounded-full mt-4 mb-4 px-8 mx-4 py-2">Contact Us</button> </a>  
                            

             </div>

             <p class="text-2xl mt-8 font-bold mt-4">Latest Blogs</p>

             <div class="h-32 w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
               <p class="text-2xl font-bold mt-2 pl-4">Test</p>
               <div class="flex text-center mt-12 pl-4">
                <img src="images/clock.svg" alt="">
                <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
               </div>
              
             </div>

             <div class="h-auto  w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-4 pl-4">INDONESIA – Business Opportunities and Market Analysis</p>
                <div class="flex text-center mt-8  mb-2 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>

              <div class="h-auto w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-2 pl-4">NEW JERSEY Business Investment Opportunities</p>
                <div class="flex text-center mt-12  mb-2 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>
              
              <div class="h-auto  w-full mt-8  rounded-lg bg-[#EDECFF] border border-[#3982AA] grayshadow">
                
                <p class="text-md font-bold mt-4 pl-4">NEW YORK Startup Business Investment Opportunities | Research based Business Ideas</p>
                <div class="flex text-center mt-12  mb-2 pl-4">
                 <img src="images/clock.svg" alt="">
                 <p class="text-md align-bottom flex items-end ">31 Oct 2023</p>
                </div>
               
              </div>
             
          </div>
        </div>
 </div>
      <!--second section end-->

   
   
</body>
<script>

    // Accordion 
    
 
    $('.accordion__header').click(function(e) {
      e.preventDefault();
      var currentIsActive = $(this).hasClass('is-active');
      $(this).parent('.accordion').find('> *').removeClass('is-active');
      if(currentIsActive != 1) {
        $(this).addClass('is-active');
        $(this).next('.accordion__body').addClass('is-active');
      }
    });
</script>
<%-include('partials/footer')%>