<%-include('partials/header')%>
<style>
    body{
        font-family: 'Poppins';
    }
    .main{
      background-color:#EFF7F9;
    }
    .blueshadow{
        box-shadow: -5px 5px 0px 3px #3982AA;
    }
    .grayshadow{
        box-shadow: -5px 5px 0px 3px #2E2E2E;
    }
    
.accordion__header {
	padding: 1em;

	margin-top: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.accordion__header > * {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}
.accordion__header.is-active {

	color: black;
}

.accordion__toggle {
	margin-left: 10px;
	height: 3px;
	background-color: #222;
	width: 13px;
	display: block;
	position: relative;
	flex-shrink: 1;
	border-radius: 2px;
}

.accordion__toggle::before {
	content: "";
	width: 3px;
	height: 13px;
	display: block;
	background-color: #222;
	position: absolute;
	top: -5px;
	left: 5px;
	border-radius: 2px;
    
}
.is-active{
    border: none;
}

.is-active .accordion__toggle {
	background-color: black;
 
}
.is-active .accordion__toggle::before {
	display: none;

}


.accordion__body {
	display: none;
	padding: 1em;
	border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
	border-top: 0;
}
.accordion__body.is-active {
	display: block;
    
}
</style>
<body>
     <!-- HERO MAIN SECTION  -->
     <div class=" items-center md:pl-5 h-[15rem]   md:h-[20rem] lg:h-[20rem] w-full main">
        
       
           <p class="font-extrabold text-3xl lg:text-8xl text-[#2E2E2E] text-center pt-24 lg:pt-32">Terms & Conditions </p>
       
      
        
      </div>
       <!--MAIN SECTION END-->

<!---SECOND SECTION START--->
       <div class="md:flex flex-row lg:justify-between  md:pl-5">
     <!--left section-->
     <div class="w-full">
        <p class=" md:text-lg md:w-2/3 lg:w-[90%] lg:text-lg mt-16 mx-4 lg:ml-12  text-justify">
           <b> Agreement and Terms of Service:</b>
<br><br>
           <b> General Terms</b>
            <ul class="lg:ml-12 mx-8">
            <li class="list-disc">The provided solutions and services are property of MBSPL & are subjected to the usage of purchaser only, any type of distribution & or usage other than purchaser will be subjected to confiscation.</li>
            <li class="list-disc">The provided services and solutions are intangible so does not liable to have any type warranty/guarantee.</li>
            <li class="list-disc">Taxes as per government policies, applicable at the time of delivery.</li>
            <li class="list-disc">MBSPL reserves the right to change T&C, with prior notice to purchaser.</li>
            <li class="list-disc">MBSPL reserves the right to use client’s company logo, company brand, company name & feedback for promotional purposes.</li>
            <li class="list-disc">
                No Refund Policy.</li>
                <li class="list-disc">Subject to Pune Jurisdiction.</li>
        </ul> <br><br>
        <b class="mx-8"> Payment Terms</b>
        <br>
            <ul class="lg:ml-12 mx-8">
                <li class="list-disc"> The payment terms and price once agreed cannot be changed</li>
                <li class="list-disc">
                    MeticulousBPlans.com has the sole right to change, amend or alter the payment terms and conditions once agreed by a customer</li>
                <li class="list-disc">Payments will have to be made as per agreed norms which will be laid out before work commences
                    In the event of non payment for a particular milestone, no work will be undertaken for the next milestone</li>
                <li class="list-disc"> Any delays due to non payment will have to be borne by the customer</li>
                <li class="list-disc">MeticulousBPlans.com will send at least two reminders for payments</li>
                <li class="list-disc"> In case no payment is made for a particular milestone within 15 days of the first reminder the customer will forfeit any money paid for previous milestones and the project will be kept in suspension. Restarting of the project will be the sole discretion of MeticulousBplans.com</li>
                <li class="list-disc">Professional design of document as illustrated in sample plans is not included in the plan and would cost extra depending on the extent of design.</li>
            </ul>
<br><br>
            <b class="mx-8">Payment and Refund Issue</b>
<br>
            <ul class="lg:ml-12 mx-8">
                <li class="list-disc"> All the payments will be accepted through the payment gateways as mentioned on the MeticulousBplans.com web site</li>
                <li class="list-disc"> Once an order is placed it cannot be cancelled under normal circumstances as it is sent for processing immediately. Personal preferences changes, changes in business objectives, or unwillingness for any reason to continue over the course of time, cannot serve a reason for refund or chargeback.</li>
                <li class="list-disc">However, refunds will be made in extreme cases when the customers can provide an acceptable reason for dissatisfaction around the quality of deliverables or MeticulousBplans.com fails to deliver according to agreed benchmarks. In such a scenario, a refund will be made for the particular milestone where it has been proven that quality does not match agreed standards.</li>
                <li class="list-disc"> All refunds will be made through electronic transfer within 72 hours of both MeticulousBplans.com and the customer agreeing that no further progress can be made on a particular project.</li>
                <li class="list-disc"> Complaints should be sent to the customer grievance cell at info@meticulousbplans.com. The team will get back with an options on ways to resolve any outstanding issues. The team will also be responsible for refunds and amendments to agreed terms and conditions.</li>
                <li class="list-disc">  Delays in payments or feedback may result in cancellation of projects. In case of cancellation no refunds would be issued. Renewal of cancelled projects may incur additional charges.</li>
            </ul>
      
            
           
           
            
           
           
          
        </p>

        
    </div>

  <!--right section-->

  
 </div>
      <!--second section end-->

   
   
</body>
<script>

    // Accordion 
    
 
    $('.accordion__header').click(function(e) {
      e.preventDefault();
      var currentIsActive = $(this).hasClass('is-active');
      $(this).parent('.accordion').find('> *').removeClass('is-active');
      if(currentIsActive != 1) {
        $(this).addClass('is-active');
        $(this).next('.accordion__body').addClass('is-active');
      }
    });
</script>
<%-include('partials/footer')%>